### IDE ###
*.iml
*.lst
*.class
target/
target/*
.idea/
.idea/*

### Temporary resources for Docker ###
docker_files/resources/*
**/docker_files/resources/*

### Binary Executables after builds ###
runtime/resource/engine-flink.jar

### VIM ###
*.swp

### svace ###
.svace-dir/*
