### IDE ###
*.iml
*.lst
*.class
target/
target/*
.idea/
.idea/*

### Temporary resources for Docker ###
docker_files/resources/*
**/docker_files/resources/*


### Binary Executables after builds ###
engine/engine-kapacitor/inject
engine/engine-kapacitor/deliver


### VIM ###
*.swp

resources/
